body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}
font-weight: 1000;
line-height: 1.6;
  font-style: normal;
   margin-left: 40px;



*,
*:before,
*:after {
   box-sizing: border-box;
}
  h1, h2, h3, h4, h5, h6 {
   margin: 0;
 }
 /* container */

.container {
  width: 100%;
  max-width: 1573px;
  margin: 0 auto;
}


/* Intro */
 .intro {
         display: flex;
         flex-direction: column;
         justify-content: center;
         width: 100%;
         height: 100vh;

         background: url("assets/images/intro.png") center;
         background-repeat: no-repeat;
         -webkit-background-size: cover;
         background-size: cover;
  }
.intro_inner {
  width: 100%;
  max-width: 880px;
  text-align: left;

}

  .intro__title {
  font-size: 70px;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  margin: 50px auto 30px;
  padding-top: 100px;
  line-height: 1;
  color: #FFFFFF;
  }


   .intro_suptitle {
     margin-bottom:60px;
     font-size: 40px;
     color: #FFFFFF;
     font-family: "Raleway", sans-serif;
     text-align: left;
   }




  /* Header */
  .header {
    width: 100%;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .header_inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .header_logo{
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
  }

  /* Nav */

  .nav {
    font-size: 15px;
    text-transform: uppercase;

    transition: color .1s linear;
  }

  .nav_link {
       display: inline-block;
       vertical-align: top;
       margin: 0 10px;
       position: relative;

       color: #FFFFFF;
       text-decoration: none;
  }
  .nav_link:after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      opacity: 0;

      background-color: #FFDAB9;

      position: absoulute;
      top: 100%
      left: 0;
      z-index: 1;

      transition: opacity .1s linear;
    }

.nav_link:hover {
  color: #FFDAB9;
}
.nav_link:hover:after,
.nav_link.active:after {
  opacity: 1;
  display: block;
}

.nav_link.active {
  color: #000000;
}

/* Button */
 .btn {
   display: inline-block;
   vertical-align: top;
   padding: 30px 40px;


   border: 3px solid #000000;
   font-size: 30px;
   font-weight: 1000;
   color: #000000;
   text-transform: uppercase;
   text-decoration: none;
   margin: 80px;


   transition: background .1s linear, color .1s linear;
}

 .btn:hover {
   background-color: #000000;
   color: #FFDAB9;
 }

 /* Slider */

.slider {
width: 100%;

  position: absolute;
  bottom: 1;
  left: 10;
  z-index: 3;
}

.slider_inner {
  display: flex;
  justify-content: space-between;
}

.slider_item {
  width: 20%;
  padding: 20px auto 0;
  position: relative;

  border-top: 3px solid #FFFFFF;
  opacity: .7;

  display: inline-block;
  vertical-align: top;
  margin: 80px 60px;


  font-size: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.slider_item.active {
  opacity: 2;
}

.slider_item.active:before {
  content: "";
  display: inline;
  width: 70px;
  height: 3px;

  background-color: #f38181;

  position: absolute;
  top: -3px;
  left: 0;
  z-index: 1;
}

.slider_num {
  font-size: 24px;
  font-weight: 700;
}
/* Section */
 .section {
   padding: 80px 0;
 }

 .section__header {
   width: 100%;
   max-width:  1500px;
   margin: 0 auto 50px;

   text-align: center;
 }


.section_suptitle {
  display: inline-block;
  font-family: 'Raleway', cursive;
  font-size: 50px;
  color: #FFFFFF;
  text-align: left;
}

.section_title {
  font-family: 'Raleway';
  font-size:  40px;
  font-weight: 700;
  color: #000000;

  text-transform: uppercase;
}
.section_title:after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  margin: 50px auto 30px;

  background-color: #FF0000;
}

.section__text {
  color: #FFFFFF;
  font-size: 30px;
  margin-bottom: 70px;

}

 /* services */

.services {
  display: flex;
}

.services_item {
  flex: 1 1 0;
  padding-left: 70px;
  padding-right: 20px;
  position: relative;
}

.services_icon {
  position: absolute;
  top: 0;
  left: 40px;
  z-index: 1;
}
.services_title {

  margin-bottom: 15px;
  font-size: 40px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;

  transition: color .2s linear;

}
.services_text {
  font-size: 25px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 50px;
}

.services_title:hover {
  color: #FFDAB9;
}
